<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:icon="@android:mipmap/sym_def_app_icon"
        android:label="DchaState 3 Changer"
        android:theme="@android:style/Theme.DeviceDefault">

        <activity
            android:name=".LoginSettingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
