<?xml version='1.0' encoding='UTF-8' ?>
<?charles serialisation-version='2.0' ?>
<charles-export>
  <proxyConfiguration>
    <enableSOCKSProxy>false</enableSOCKSProxy>
    <dynamicHTTPPort>false</dynamicHTTPPort>
    <dynamicSOCKSPort>false</dynamicSOCKSPort>
    <enableSOCKSTransparentHTTPProxying>true</enableSOCKSTransparentHTTPProxying>
    <port>8888</port>
    <SOCKSPort>8889</SOCKSPort>
    <decryptSSL>true</decryptSSL>
    <transparentProxy>false</transparentProxy>
    <supportsH2>true</supportsH2>
    <preferIPv6addresses>false</preferIPv6addresses>
    <bypassDomains>
      <string>*.*</string>
    </bypassDomains>
    <sslLocations>
      <locationPatterns>
        <locationMatch>
          <location>
            <host>*</host>
          </location>
          <enabled>true</enabled>
        </locationMatch>
      </locationPatterns>
    </sslLocations>
    <sslExcludeLocations>
      <locationPatterns/>
    </sslExcludeLocations>
    <defaultSOCKSTransparentHTTPProxyPorts>true</defaultSOCKSTransparentHTTPProxyPorts>
    <socksTransparentHTTPProxyPorts/>
    <socksTransparentHTTPProxyPortRanges/>
    <windowsConfiguration>
      <useHTTP>true</useHTTP>
      <useSOCKS>false</useSOCKS>
      <enableAtStartup>true</enableAtStartup>
    </windowsConfiguration>
    <macOSXConfiguration>
      <useHTTP>true</useHTTP>
      <useSOCKS>false</useSOCKS>
      <enableAtStartup>true</enableAtStartup>
    </macOSXConfiguration>
    <mozillaFirefoxConfiguration>
      <useHTTP>true</useHTTP>
      <useSOCKS>false</useSOCKS>
      <enableAtStartup>true</enableAtStartup>
    </mozillaFirefoxConfiguration>
  </proxyConfiguration>
  <toolConfiguration>
    <configs>
      <entry>
        <string>Rewrite</string>
        <rewrite>
          <toolEnabled>true</toolEnabled>
          <debugging>false</debugging>
          <sets>
            <rewriteSet>
              <active>true</active>
              <name>Cpad_dcha_3_changer</name>
              <hosts>
                <locationPatterns>
                  <locationMatch>
                    <location>
                      <protocol>https</protocol>
                      <host>townak.benesse.ne.jp</host>
                      <port>443</port>
                      <path>rel/A/sp_84/open/TouchSetupLogin.apk</path>
                    </location>
                    <enabled>true</enabled>
                  </locationMatch>
                </locationPatterns>
              </hosts>
              <rules>
                <rewriteRule>
                  <active>true</active>
                  <ruleType>6</ruleType>
                  <matchValue>https://townak.benesse.ne.jp/rel/A/sp_84/open/TouchSetupLogin.apk</matchValue>
                  <matchHeaderRegex>false</matchHeaderRegex>
                  <matchValueRegex>false</matchValueRegex>
                  <matchRequest>false</matchRequest>
                  <matchResponse>false</matchResponse>
                  <newValue>https://github.com/mouseos/Cpad_dcha_3_changer/releases/latest/download/app-release.apk</newValue>
                  <newHeaderRegex>false</newHeaderRegex>
                  <newValueRegex>false</newValueRegex>
                  <matchWholeValue>false</matchWholeValue>
                  <caseSensitive>false</caseSensitive>
                  <replaceType>2</replaceType>
                </rewriteRule>
              </rules>
            </rewriteSet>
            <rewriteSet>
              <active>true</active>
              <name>Light SpeedTest</name>
              <hosts>
                <locationPatterns>
                  <locationMatch>
                    <location>
                      <protocol>http</protocol>
                      <host>ctcds.benesse.ne.jp</host>
                      <port>80</port>
                      <path>network-check/speedtest.list</path>
                    </location>
                    <enabled>true</enabled>
                  </locationMatch>
                </locationPatterns>
              </hosts>
              <rules>
                <rewriteRule>
                  <active>true</active>
                  <ruleType>6</ruleType>
                  <matchValue>http://ctcds.benesse.ne.jp/network-check/speedtest.list</matchValue>
                  <matchHeaderRegex>false</matchHeaderRegex>
                  <matchValueRegex>false</matchValueRegex>
                  <matchRequest>false</matchRequest>
                  <matchResponse>false</matchResponse>
                  <newValue>https://raw.githubusercontent.com/mouseos/Cpad_dcha_3_changer/HEAD/docs/speedtest.list</newValue>
                  <newHeaderRegex>false</newHeaderRegex>
                  <newValueRegex>false</newValueRegex>
                  <matchWholeValue>false</matchWholeValue>
                  <caseSensitive>false</caseSensitive>
                  <replaceType>2</replaceType>
                </rewriteRule>
              </rules>
            </rewriteSet>
          </sets>
        </rewrite>
      </entry>
      <entry>
        <string>Port Forwarding</string>
        <portForwarding>
          <active>false</active>
          <portForwardings/>
        </portForwarding>
      </entry>
    </configs>
  </toolConfiguration>
</charles-export>